[submodule "submodules/quickstart-atlassian-services"]
	path = submodules/quickstart-atlassian-services
	url = https://github.com/atlassian/quickstart-atlassian-services.git
	branch = DCD-1051-gov-arn-for-gov-region
