[submodule "submodules/quickstart-atlassian-services"]
	path = submodules/quickstart-atlassian-services
	url = https://github.com/tthoma24/quickstart-atlassian-services.git
	branch = main
[submodule "docs/boilerplate"]
	path = docs/boilerplate
	url = git@github.com:tthoma24/quickstart-documentation-base-common.git
